.footer{
    height: 10vh;
    background-color: #213F36;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 1.3em;
}
@media screen and (max-width: 1024px) {
    .footer h6{
        font-size: 13px;
    }
}
@media screen and (max-width: 766px) {
    .footer h6{
        font-size: 10px;
    }
}